<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/identity.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header class="header"></header>
        <section class="main" id="main">
        </section>
        <aside class="aside">
            <article class="logo"></article>
            <nav class="menu">
                <li id="home">
                    <a href="accueil.html#home">
                        <label class="menu-home"></label>
                    </a>
                </li>
                <li id="compte">
                    <a href="accueil.html#compte">
                        <label class="menu-contact"></label>
                    </a>
                </li>
                <li id="profil">
                    <a href="accueil.html#profil">
                        <label class="menu-profil"></label>
                    </a>
                </li>
                <li id="resultat">
                    <a href="accueil.html#resultat">
                        <label class="menu-resultats"></label>
                    </a>
                </li>
                <li id="cv">
                    <a href="accueil.html#cv">
                        <label class="menu-cv"></label>
                    </a>
                </li>
            </nav>
            <li class="deconnextion">
                <a href="#deconnextion">
                    <label></label>
                </a>
            </li>
        </aside>
        <footer class="footer"></footer>
    </div>
</body>

</html>