//= require social-share-button
@import '_outil';
@import '_init';

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */
* {
    /* Positioning */
    /* Box-model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.container {
    /* Positioning */
    /* Box-model */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: vh_calc(150px) vh_calc(350px) 1fr;
    grid-template-areas:
        "titre"
        "background"
        "main";
    /* Typography */
    /* Visual */
    /* Misc */
}

.titre {
    /* Positioning */
    /* Box-model */
    display: flex;
    align-items: flex-end;
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: vh_calc(40px);
    line-height: vh_calc(60px);
    font-family: Poppins;
    color: #000000;
    /* Visual */
    /* Misc */
}

.main {
    /* Positioning */
    /* Box-model */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cv buttons";
    margin-top: vh_calc(50px);
    margin-bottom: vh_calc(50px);
    /* Typography */
    /* Visual */
    /* Misc */
}

.cv {
    /* Positioning */
    /* Box-model */
    grid-area: cv;
    justify-self: center;
    width: 80%;
    height: vh_calc(800px);
    /* Typography */
    /* Visual */
    /* Misc */
}

.boutons {
    /* Positioning */
    /* Box-model */
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Typography */
    /* Visual */
    /* Misc */
}

.boutons>button,
.boutons>a {
    /* Positioning */
    /* Box-model */
    width: vw_calc(350px);
    height: vh_calc(70px);
    margin-bottom: vh_calc(30px);
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: vh_calc(22px);
    line-height: vh_calc(66px);
    font-family: Poppins;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /* Visual */
    background-color: #6983A0;
    box-shadow: 0px 3px 6px #00000005;
    border-radius: 6px;
    /* Misc */
}