@import 'bootstrap';
@import '_outil';
@import '_init';

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */
* {
    /* Positioning */
    /* Box-model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.container {
    /* Positioning */
    /* Box-model */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: vh_calc(150px) vh_calc(350px) 1fr;
    grid-template-areas:
        "titre"
        "background"
        "main";
    /* Typography */
    /* Visual */
    /* Misc */
}

.titre {
    /* Positioning */
    /* Box-model */
    display: flex;
    align-items: flex-end;
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: vh_calc(40px);
    line-height: vh_calc(60px);
    font-family: Poppins;
    color: #000000;
    /* Visual */
    /* Misc */
}

.backgrounds {
    /* Positioning */
    /* Box-model */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: vh_calc(30px) 1fr vh_calc(30px);
    grid-template-areas:
        ". ."
        "info photo"
        ". .";
    margin-top: vh_calc(50px);
    margin-bottom: vh_calc(50px);
    /* Typography */
    /* Visual */
    background-color: #F0F0F0;
    border-radius: 25px;
    /* Misc */
}

.backgrounds-info {
    /* Positioning */
    /* Box-model */
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: vh_calc(50px) vh_calc(10px) vh_calc(50px);
    grid-template-areas:
        "username"
        "."
        "userinfo";
    justify-items: center;
    /* Typography */
    /* Visual */
    /* Misc */
}

.backgrounds-username {
    /* Positioning */
    /* Box-model */
    grid-area: username;
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: vh_calc(40px);
    line-height: vh_calc(138px);
    font-family: Poppins;
    color: #222222;
    text-align: left;
    /* Visual */
    /* Misc */
}

.backgrounds-username>span {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: vh_calc(40px);
    line-height: vh_calc(138px);
    font-family: Poppins;
    color: #222222;
    text-align: left;
    /* Visual */
    /* Misc */
}

.backgrounds-userinfo {
    grid-area: userinfo;
}

.backgrounds-userinfo>span {
    /* Positioning */
    /* Box-model */
    padding-top: vh_calc(5px);
    padding-right: vw_calc(10px);
    padding-bottom: vh_calc(5px);
    padding-left: vw_calc(10px);
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: vh_calc(20px);
    line-height: vh_calc(138px);
    font-family: Poppins;
    color: #FFFFFF;
    text-align: left;
    /* Visual */
    /* Misc */
    background-color: #6983A0;
    border-radius: 100px;
}

.backgrounds-photo {
    /* Positioning */
    /* Box-model */
    grid-area: photo;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: vh_calc(190px);
    grid-template-areas:
        "photo";
    align-items: center;
    /* Typography */
    /* Visual */
    /* Misc */
}

.photo {
    /* Positioning */
    /* Box-model */
    grid-area: photo;
    display: grid;
    grid-template-columns: 1fr vw_calc(190px) 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    /* Typography */
    /* Visual */
    background-color: transparent;
    background-image: url(image_path('Femme-freelance.png'));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* Misc */

}

.photo>label {
    /* Positioning */
    /* Box-model */
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: vw_calc(100px);
    /* Typography */
    /* Visual */
    background-color: transparent;
    background-image: url(image_path('option-small-b.png'));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* Misc */
}

.main {
    /* Positioning */
    /* Box-model */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: vh_calc(250px) vh_calc(250px);
    grid-template-areas:
        "compte cv"
        "profil resultat";
    column-gap: vh_calc(18px);
    row-gap: vh_calc(18px);
    padding-bottom: vh_calc(50px);
    /* Typography */
    /* Visual */
    /* Misc */
}

.main>article {
    /* Positioning */
    position: relative;
    /* Box-model */
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "icon option";
    /* Typography */
    /* Visual */
    /* Misc */
}

.main-logo {
    /* Positioning */
    /* Box-model */
    grid-area: icon;
    max-width: vw_calc(200px);
    margin-top: vh_calc(45px);
    margin-bottom: vh_calc(45px);
    margin-left: vw_calc(80px);
    /* Typography */
    /* Visual */

    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* Misc */
}

.compte {
    /* Positioning */
    /* Box-model */
    grid-area: compte;
    /* Typography */
    /* Visual */
    background-color: #D88D81;
    border-radius: 25px;
    /* Misc */
}

.compte>.main-logo {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    background-image: url(image_path('profil-big.png'));
    /* Misc */
}

.cv>.main-logo {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    background-image: url(image_path('cv-big.png'));
    /* Misc */
}

.profil>.main-logo {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    background-image: url(image_path('gamepad-big.png'));
    /* Misc */
}

.resultat>.main-logo {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    background-image: url(image_path('bar_chart-big.png'));
    /* Misc */
}

.cv {
    /* Positioning */
    /* Box-model */
    grid-area: cv;
    /* Typography */
    /* Visual */
    background-color: #BA7F98;
    border-radius: 25px;
    /* Misc */
}

.profil {
    /* Positioning */
    /* Box-model */
    grid-area: profil;
    /* Typography */
    /* Visual */
    background-color: #7CABB4;
    border-radius: 25px;
    /* Misc */
}

.resultat {
    /* Positioning */
    /* Box-model */
    grid-area: resultat;
    /* Typography */
    /* Visual */
    background-color: #77B1D5;
    border-radius: 25px;
    /* Misc */
}

.main-option {
    /* Positioning */
    /* Box-model */
    grid-area: option;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "titre"
        "description";
    align-items: end;
    margin-top: vh_calc(45px);
    margin-bottom: vh_calc(45px);
    /* Typography */
    /* Visual */
    /* Misc */
}

.stretched-link {
    &:hover {
        color: #FFFFFF;
    }
}

.main-option-titre {
    /* Positioning */
    /* Box-model */
    grid-area: titre;
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: vh_calc(30px);
    line-height: vh_calc(20px);
    font-family: Poppins;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
}

.main-option-description {
    /* Positioning */
    /* Box-model */
    grid-area: description;
    padding-left: vw_calc(30px);
    /* Typography */
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: vh_calc(20px);
    line-height: vh_calc(30px);
    font-family: Poppins;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
}