 <% content_for :css do -%>
  <% stylesheet_link_tag 'cogmore', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end -%>

<main>
    <div class="main">
        <article class="leadership">
            <label>LEADERSHIP</label>
            <article class="progress-bar">
                <div class="progress">
                </div>
            </article>
            <textarea>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.</textarea>
        </article>
        <article class="gestion">
            <label>Gestion Du stress</label>
            <article class="progress-bar">
                <div class="progress">
                </div>
            </article>
            <textarea>At nunc si ad aliquem bene nummatum tumentemque ideo honestus advena salutatum introieris, primitus tamquam exoptatus suscipieris et interrogatus multa coactusque mentiri, miraberis numquam antea visus summatem virum tenuem te sic enixius observantem, ut paeniteat ob haec bona tamquam praecipua non vidisse ante decennium Romam.</textarea>
        </article>
        <article class="esprit">
            <label>Esprit DՎquipe</label>
            <article class="progress-bar">
                <div class="progress">
                </div>
            </article>
            <textarea>Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus exustus est.</textarea>
        </article>
        <article class="organisation">
            <label>Organisation</label>
            <article class="progress-bar">
                <div class="progress">
                </div>
            </article>
            <textarea>Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in civitatibus perviis.</textarea>
        </article>
        <article class="initiative">
            <label>Initiative</label>
            <article class="progress-bar">
                <div class="progress">
                </div>
            </article>
            <textarea>Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime tenebatur.</textarea>
        </article>
    </div>
</main>