 <% content_for :css do -%>
  <% stylesheet_link_tag 'soc', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end -%>

<main>
    <div class="main">
        <div class="main-option">
            <label></label>
            <label></label>
            <label></label>
        </div>
        <a class='main-button' href="socmore">En voir plus</a>
    </div>
</main>