 <% content_for :css do -%>
  <% stylesheet_link_tag 'socmore', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end -%>

<main>
    <div class="main">
        <article class="round">
            <div class="round-memoire">
                <div class="round-definition">
                    <div class="round-logique">
                        <div class="round-sementique">
                            <div class="score">99</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="element">
            <div class="element-memoire"><label></label>
                <div>Memoire</div>
            </div>
            <div class="element-definition"><label></label>
                <div>Definition</div>
            </div>
            <div class="element-logique"><label></label>
                <div>Logique</div>
            </div>
            <div class="element-sementique"><label></label>
                <div>Sementique</div>
            </div>
        </article>
    </div>
</main>